.container{

    border: 1px solid dashed;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 100px auto;
    max-width: 800px;
    padding: 30px;
}

.menu{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

.wrap{
    padding: 30px;
    text-align: center;
}

.btn{
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 20px;
    background: #2b17e0e0;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn:active{
    color: #2b17e0e0;
    background: white;
    border: 1px solid #2b17e0e0;
}

.btns{
    display: flex;
    justify-content: space-between;
}

.active{
    color: gray;
}

.active::before {
    content: '';
    position: relative;
    display: inline-block;
    width:180px;
    height: 2px;
    left:0;
    bottom:20px;
    background-color: gray;
}
a::before {
    content: '';
    position: relative;
    display: inline-block;
    width: 180px;
    height: 2px;
    left:0;
    bottom:20px;
    background-color: blueviolet;
}

.errore{
    text-align: center;
    color: tomato;
}
