<div class="container">
    <nav>
        <ul class="menu">
            <li>
                <a  routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact:true}"
                     (click)="goToDatesPage()">Select Dates</a>
            </li>

            <li>
                <a 
                routerLinkActive="active" 
                (click)="goToPersonalPage()">Personal Details</a>
            </li>
            <li>
                <a 
                routerLinkActive="active"
                [routerLink]="['guests', '2']"  queryParamsHandling='merge'>Guests</a>
            </li>
            <li>
                <a routerLinkActive="active"
                 [routerLink]="['booking', '3']"  queryParamsHandling='merge'>Booking
                    Review</a>
            </li>
        </ul>
    </nav>
    <div class="wrap">
        <router-outlet></router-outlet>
    </div>

    <div class="btns">
        <div>
            <button class="btn" type="button" (click)="previous()">previous</button>
        </div>

        <div>
            <button type="button" class="btn" (click)="next()">next</button>
        </div>
       
    </div>
    <p class="errore" *ngIf="erroreDate">Please add date</p>
    <p class="errore" *ngIf="errorePersonal">Please add personal input</p>
    <p class="errore" *ngIf="erroreGuests">Please add guest input</p>
</div>