<div class="container">
    <nav>
        <ul class="menu">
            <li>
                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink='dates'
                    [queryParams]="booking" queryParamsHandling='merge'>Select Dates</a>
            </li>

            <li>
                <a 
                routerLinkActive="active" [routerLink]="['personal', '1']" [queryParams]="booking"
                    queryParamsHandling='merge'>Personal Details</a>
            </li>
            <li>
                <a 
                routerLinkActive="active"
                [routerLink]="['guests', '2']" [queryParams]="booking" queryParamsHandling='merge'>Guests</a>
            </li>
            <li>
                <a routerLinkActive="active"
                 [routerLink]="['booking', '3']" [queryParams]="booking" queryParamsHandling='merge'>Booking
                    Review</a>
            </li>
        </ul>
    </nav>
    <div class="wrap">
        <router-outlet></router-outlet>
    </div>

    <div class="btns">
        <div>
            <button class="btn" (click)="previous()" [hidden]="">previous</button>
        </div>

        <div>
            <button class="btn" (click)="next()">next</button>
        </div>

    </div>

</div>