.form{
    display: flex;
}

[nz-input]{
    width: 150px;
    border: none;
    border-bottom: 1px solid;
}

.ant-input-affix-wrapper{
    width: 150px;
    border: none;
    border-bottom: 1px solid;
}

.errore{
    color: tomato;
}

.guests{
    display: flex;
}